{
  "log": {
    "level": "warn",
    "timestamp": true
  },
  "dns": {
    "servers": [
      {
        "tag": "local",
        "type": "local"
      },
      {
        "tag": "remote",
        "type": "https",
        "server": "1.1.1.1",
        "detour": "proxy"
      }
    ],
    "rules": [
      {
        "rule_set": "{{.DNSRuleSet}}",
        "server": "{{.DNSRuleServer}}"
      }
    ],
    "final": "{{.DNSFinal}}"
  },
  "inbounds": [
    {
      "type": "tun",
      "tag": "tun-in",
      "interface_name": "tun0",
      "address": ["198.18.0.1/30"],
      "auto_route": true,
      "strict_route": true
    }
  ],
  "outbounds": [
    {
      "type": "vless",
      "tag": "proxy",
      "server": "{{.RUServerIP}}",
      "server_port": {{.RUServerPort}},
      "uuid": "{{.UUID}}",
      "flow": "xtls-rprx-vision",
      "tls": {
        "enabled": true,
        "server_name": "{{.SNI}}",
        "reality": {
          "enabled": true,
          "public_key": "{{.PublicKey}}",
          "short_id": "{{.ShortID}}"
        },
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        }
      }
    },
    {
      "type": "direct",
      "tag": "direct"
    },
    {
      "type": "block",
      "tag": "block"
    }
  ],
  "route": {
    "default_domain_resolver": "local",
    "rule_set": [
      {
        "tag": "{{.RouteRuleSet}}",
        "type": "local",
        "format": "source",
        "path": "{{.RouteRulePath}}"
      }
    ],
    "rules": [
      {
        "port": 53,
        "action": "hijack-dns"
      },
      {
        "ip_cidr": [
          "{{.RUServerIP}}/32",
          "{{.LANCIDR}}",
          "10.0.0.0/8",
          "172.16.0.0/12",
          "192.168.0.0/16"
        ],
        "outbound": "direct"
      },
      {
        "rule_set": "{{.RouteRuleSet}}",
        "outbound": "{{.RouteRuleOutbound}}"
      }
    ],
    "final": "{{.RouteFinal}}",
    "auto_detect_interface": true
  }
}
